.navbar{
    background-color: transparent;
}

.menu-list li:first-child{
    color: orange;
}

/*-------------------------------------------ACCUEIL-----------------------------------------*/
.accueil{
    height: 100vh;
    background: url("/img/dev-bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .accueil-content{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 2;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
  }
  
  .accueil-content h1{
      color: #fff;
      font-weight: 900;
      font-size: 4em;
      letter-spacing: 0.03em;
      line-height: 0.9em;
  }
  .accueil-content h2{
      color:#fff;
      padding: 15px;
      font-weight:500;
      font-size:2.25em;
      margin-bottom:15px
  }
  
  .btn-cv{
      display: flex;
      flex-direction: column;
      width: auto;
      font-size: 14px;
      font-weight: 700;
      padding: 8px;
      background-color: transparent;
      color: #fff;
      border: solid 2px orange;
      border-radius: 20px;
  }
  
  .btn-cv:hover{
      background-color: orange;
      color: #fff;
  }

  @media screen and (max-width: 1050px) {

    .accueil-content h1{
       
        font-weight: 700;
        font-size: 3em;
        letter-spacing: 0.02em;
        line-height: 0.8em;
    }
    .accueil-content h2{
        color:#fff;
        padding: 15px;
        font-weight:500;
        font-size:1.5em;
        margin-bottom:10px;
    }
    .btn-cv span{
      display: none;
    }
    .btn-cv{
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 525px){
    .accueil-content h1{
        font-weight: 600;
        font-size: 1.5em;
        letter-spacing: 0.02em;
        line-height: 0.8em;
    }
    .accueil-content h2{
        color:#fff;
        padding: 15px;
        font-weight:500;
        font-size:1em;
        margin-bottom:5px;
    }
    .btn-cv{
        background-color: orange;
        font-size: 12px;
      }
  }

  @media screen and (max-width: 360px){
    .accueil-content h1{
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 0.02em;
        line-height: 0.8em;
    }
    .accueil-content h2{
        color:#fff;
        padding: 15px;
        font-weight:500;
        font-size:0.7em;
        margin-bottom:5px;
    }
  }
  
  
  