
.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-circles{
    height: 100vh;
    width: 55vw;
    background-color: inherit;
}


.skills-circles-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 4%;
    color: #1a2f42;
    font-size: 35px;
}


.skills-circles-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 10% 0%; */
    height: 70%;
    background-color: #f1f2f6;
}


/* ITEMS*/
.skill-container {
    /* height: 250px; */
    /* width: 175px; */
    height: 85%;
    width: 60%;
    background-color: #1a2f42;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
    display: grid;
    grid-template-rows: 45% 50%;
    place-items: center;
    justify-self: center;
    align-self: stretch;
  }
  /* .skill-container:hover{
      transform: scale(1.1);
      transition: ease-in-out 1.2s;
  } */
  .skill-logo {
    height: 75px;
  }
  .skill-logo-4,
  .skill-logo-5{
    height: 55px;
  }
 
  .circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #1a2f42;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
  }

  /* CIRCLES COLORS */

.skill-circle-2,
.skill-circle-4,
.skill-circle-6,
.circular-progress-2:before,
.circular-progress-4:before,
.circular-progress-6:before{
    background: #34495c;
}





  /***************************** SKILLZ BARS ***************************/

.skills-bars{
    height: 100vh;
    background-color: orange;
}

  .skills-bars-grid{
    position: relative;
    width: 90%;
    margin: auto;
    background-color: orange;
}

.skills-bars-title{
    text-align: center;
    padding-top: 100px;
    color: #1a2f42;
    font-size: 35px;
    margin-bottom: 15%;
}

.title-skill{
  display: none;
}

.skills-bars-grid .soft-skill{
    position: relative;
    display: flex;
    height: 75px;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 24px 10px 18px;
    background: linear-gradient(#253e55 0%, #1e3447 10%, #1a2f42);
    /* background: linear-gradient(#253e55 0%, #1e3447 10%, #1e3447); */
    border-radius: 8px;
    overflow: hidden;
    border:  2px solid #333;
    transition: 0.5s;
    align-items: center;
}

.skills-bars-grid .soft-skill:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.08);
    z-index: 10;
}

.skills-bars-grid .soft-skill .Name{
    position: relative;
    width: 110px;
    font-weight: 900;
    text-align: right;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    text-align: center;
}

.skills-bars-grid .soft-skill .Value{
    color: #fff;
    font-weight: 900;
}

.skills-bars-grid .soft-skill .percent{
    position: relative;
    /* width: calc(100% - 150px); */
    width: 60%;
    height: 20px;
    margin-left: 7%;
    margin-right: 5%;
    /* margin: 0 25px; */
    border-radius: 10px;
    background: #000;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.skills-bars-grid .soft-skill .percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: orange;
    box-shadow: inset 0 0 2px #000;
    animation: animate 4s ease-in-out forwards;
}



 
 @media screen and (min-width: 1200px) and (max-width:1600px){
    .skill-container{
        height: 225px;
        width: 170px;
    }
    .skill-logo {
        height: 60px;
      }
      .skill-logo-4,
      .skill-logo-5{
        height: 35px;
      }
      .circular-progress{
        height: 80px;
        width: 80px;
      }
      .skills-bars-title{
        margin-bottom: 100px;
      }
      .skills-bars-grid .soft-skill{
        height: 60px;
      }
}

@media screen and (min-width: 950px) and (max-width:1199px){
    
  .previous-page,
  .next-page{
      display: none;
  }
    .skill-container{
        height: 175px;
        width: 120px;
    }
    .skill-logo {
        height: 40px;
      }
      .skill-logo-4,
      .skill-logo-5{
        height: 25px;
      }
      .circular-progress{
        height: 60px;
        width: 60px;
      }
      .value-container{
          font-size: 16px;
      }
      .skills-bars-title{
        margin-bottom: 70px;
      }
      .skills-bars-grid .soft-skill{
        height: 60px;
        margin-left: 0;
        margin-right: 0;
      }
      .skills-bars-grid .soft-skill .Name{
          font-size: 12px;
      }
      .skills-bars-grid .soft-skill .Value{
          font-weight: 900;
          font-size: 14px;
      }
}

@media screen and (min-width:500px) and (max-width:949px){
    .previous-page,
    .next-page{
        display: none;
    }
    .skills-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .skills-circles{
        width: 100vw;
    
    }
    .skills-circles-title{
        font-size: 22px;
        margin-top: 12%;
    }
    .skills-circles-grid{
        margin: auto;
    }
    .skill-container{
        height: 70%;
        width: 60%;
    }
    .skill-logo {
        height: 40px;
      }
      .skill-logo-4,
      .skill-logo-5{
        height: 25px;
      }
      .circular-progress{
        height: 60px;
        width: 60px;

      }
      .value-container{
          font-size: 16px;
      }

      .skill-circle-1,
      .skill-circle-4{
        justify-self: end;
      }

      .skill-circle-3,
      .skill-circle-6{
        justify-self: start;
      }

      /* Bars */ 

    .skills-bars{
        width: 100vw;
    }

    .skills-bars-title{
        margin: 0;
        padding-top: 5%;
        margin-bottom: 15%;
    }


    .skills-bars-grid .soft-skill{
        height: 55px;
    }

    .skills-bars-grid .soft-skill .Name{
        font-size: 12px;
    }
}

@media screen and (max-width: 499px){
  .previous-page,
    .next-page{
        display: none;
    }
    .skills-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .skills-circles{
      width: 100vw;

  }
  .skills-circles-title{
    margin: auto;
    padding-bottom: 5px;
    font-size: 22px;
    margin-top: 25%;
    border-bottom: solid 3px orange;
    border-radius: 3px;
    width: 110px;
  }
  .skills-circles-grid{
      margin: 0 7% 0 7%;
      height: 60vh;
  }
  .skill-container{
      height: 140px;
      width: 90px;
      align-self: center;
  }
  .skill-logo {
      height: 25px;
    }
    .skill-logo-4,
    .skill-logo-5{
      height: 25px;
    }
    .circular-progress{
      height: 40px;
      width: 40px;

    }
    .value-container{
        font-size: 11px;
    }

      /* Bars */ 

    .skills-bars{
      width: 100vw;
  }

  .skills-bars-grid{
    width: 100%;
  }

  .skills-bars-title{
      margin: auto;
      margin-bottom: 10%;
      padding: 50px 0 5px 0;
      font-size: 22px;
      color: #fff;
      font-weight: bold;
      border-bottom: solid 3px #1a2f42;
      border-radius: 3px;
      width: 110px;
  }


  .skills-bars-grid .soft-skill{
      margin-top: 0;
      margin-bottom: 7%;
      /* padding: 0; */
      height: 55px;
      justify-content: flex-start;
  }

  .skills-bars-grid .soft-skill .Name{
      font-size: 10px;
      font-weight: 300;
      /* text-transform: lowercase; */
      width: auto;
      display: none;
  }

  .skills-bars-grid .soft-skill .Value{
    font-size: 10px;
  }

  .skills-bars-grid .soft-skill .percent{
    width: 80%;
  }

.title-skill{
  display: block;
  margin-left: 10%;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}

  @media screen and (max-width: 280px){

    .skills-circles{
      min-height: 100vh;
      overflow: hidden;
    }
    .skills-circles-grid{
      grid-template-columns: 1fr 1fr;
      gap: 10px 25px;
    }

    .skill-container{
      align-self: start;
    }

    .skill-circle-1,
    .skill-circle-3,
    .skill-circle-5{
      justify-self: end;
    }

    .skill-circle-2,
    .skill-circle-4,
    .skill-circle-6{
      justify-self: start;
    }
  }

}




.fa-arrow-right{
    color: #fff;
    border: solid 3px #fff;
}
.fa-arrow-right:hover{
    color: orange;
    background-color: #fff;
}

.footer-container{
    position: relative;
    bottom: 0;
    left: 0;
}