/* body{
    flex-direction: column;
} */
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-circles{
    height: 100vh;
    width: 50vw;
    background-color: blue;
}

.skills-bars{
    height: 100vh;
    width: 50vw;
    background-color: red;
}

.skills-circles-title{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

.skills-bars-title{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

.skills-circles-grid{
    display: grid;
    height: 80%;
    background-color: blueviolet;
}
.skills-bars-grid{
    display: grid;
    height: 80%;
    background-color: orange;
}