
  /*----------------------------------------------COMPETENCES-------------------------------------*/
.competences-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.competences{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 25% 15% 25%;
    justify-items: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
  }
  .comp-title{
  
    color: #333;
    margin-top: -150px;
    font-size: 40px;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
  }
  
  h3 span {
    color: orange;
  }
  
  /* HTML PROGRESSBAR */
  
  .outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px 6px 10px -1px rgba(255,255,255,0.7);
  }
  
  .inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px  0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    
  }
  
  #htmlLogo{
    width: 100px;
    height: 100px;
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
  }
  
  #cssLogo{
    width: 70px;
    height: 100px;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
  }
  
  #jsLogo{
    width: 70px;
    height: 100px;
    grid-column-start: 3;
    grid-row-start: 1;
    align-self: center;
  }
  
  #phpLogo{
    width: 120px;
    height: 80px;
    grid-column-start: 4;
    grid-row-start: 1;
    align-self: center;
  }
  
  #reactLogo{
    width: 150px;
    height: 90px;
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
  }
  
  #wordpressLogo{
    width: 100px;
    height: 100px;
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
  }
  
  #number1{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  .skill-1{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 1;
    grid-row-start: 2;
  
  }
  
  #circle1{
    fill: none;
    stroke: url(#GradientColor1);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 3s linear forwards;
  }
  
  svg{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @keyframes anim1{
    100%{
      stroke-dashoffset: 130;
    }
  }
  
  /* CSS PROGRESSBAR */
  
  .skill-2{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  #number2{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  #circle2{
    fill: none;
    stroke: url(#GradientColor2);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 3s linear forwards;
  }
  
  @keyframes anim2{
    100%{
      stroke-dashoffset: 130;
    }
  }
  
  /* JS PROGRESSBAR */
  
  .skill-3{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 3;
    grid-row-start: 2;
  }
  
  #number3{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  #circle3{
    fill: none;
    stroke: url(#GradientColor3);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 3s linear forwards;
  }
  
  @keyframes anim3{
    100%{
      stroke-dashoffset: 200;
    }
  }
  
  /*PHP*/
  
  .skill-4{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 4;
    grid-row-start: 2;
  }
  
  #number4{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  #circle4{
    fill: none;
    stroke: url(#GradientColor4);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim4 2s linear forwards;
  }
  
  @keyframes anim4{
    100%{
      stroke-dashoffset: 220;
    }
  }
  
  /* WORDPRESS */
  
  .skill-5{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 2;
    grid-row-start: 4;
  }
  
  #number5{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  #circle5{
    fill: none;
    stroke: url(#GradientColor5);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim5 2s linear forwards;
  }
  
  @keyframes anim5{
    100%{
      stroke-dashoffset: 220;
    }
  }
  
  .skill-6{
    width: 160px;
    height: 160px;
    position: relative;
    grid-column-start: 3;
    grid-row-start: 4;
  }
  
  #number6{
    font-weight: 600;
    font-size: 25px;
    color: #555;
  }
  
  #circle6{
    fill: none;
    stroke: url(#GradientColor6);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim6 3s linear forwards;
  }
  
  @keyframes anim6{
    100%{
      stroke-dashoffset: 130;
    }
  }
  @media screen and (min-width: 751px) and (max-width: 1250px) {
  
    .competences{
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 15% 25% 15% 25%;
    gap: 10px 70px;
    }
  
  
    .skill-4{
      grid-column-start: 1;
      grid-row-start: 4;
    }
  
    #phpLogo{
      width: 120px;
      height: 80px;
      grid-column-start: 1;
      grid-row-start: 3;
    }
  
  
  }
  
  @media screen and (max-width: 750px) {
    .comp-title{
        font-size: 30px;
      

    }
    .competences{
      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: 5% 18% 5% 18% 5% 18%; */
      grid-template-rows: auto;
  
      gap: 20px 50px;
      height: 100%;
      top: 100px;
      left: 0;
    }
  
    .skill-1{
      grid-column-start: 1;
      grid-row-start: 3;
      align-self: start;
    }
    .skill-2{
      grid-column-start:2 ;
      grid-row-start: 3;
      align-self: start;
  
    }
    .skill-3{
      grid-column-start: 1;
      grid-row-start: 5;
      align-self: start;
  
    }
    .skill-4{
      grid-column-start: 2;
      grid-row-start: 5;
      align-self: start;
  
    }
    .skill-5{
      grid-column-start: 1;
      grid-row-start: 7;
      align-self: start;
  
    }
    .skill-6{
      grid-column-start: 2;
      grid-row-start: 7;
      align-self: start;
  
    }
  
    #htmlLogo{
      width: 70px;
      height: 70px;
      grid-column-start: 1;
      grid-row-start: 2;
      align-self: center;
    }
    
    #cssLogo{
      width: 48px;
      height: 70px;
      grid-column-start: 2;
      grid-row-start: 2;
    }
    
    #jsLogo{
      width: 48px;
      height: 70px;
      grid-column-start: 1;
      grid-row-start: 4;
    }
    
    #phpLogo{
      width: 75px;
      height: 50px;
      grid-column-start: 2;
      grid-row-start: 4;
      align-self: center;
    }
    
    #reactLogo{
      width: 85px;
      height: 55px;
      grid-column-start: 1;
      grid-row-start: 6;
      align-self: center;
  
    }
    
    #wordpressLogo{
      width: 70px;
      height: 70px;
      grid-column-start: 2;
      grid-row-start: 6;
    }
  }
  
  
  
  @media  screen and (max-width: 450px) {
    .competences{
      display: none;
    }
    .skills-hide{
      display: none;
    }
    .comp-title{
        display: none;
    }
  
  }

  @media screen and (min-width: 451px) and (max-width: 749px){
    .comp-title{
      padding-top: 250px;
      padding-bottom: 3%;
        font-size: 35px;
      }

  }

  @media screen and (min-width: 750px) and (max-width: 1099px){

    .competences{
      min-width: 700px;
      column-gap: 50px;
      row-gap: 30px;
    }

    .comp-title{
      padding-bottom: 5%;
        font-size: 40px;
      }

  }

  @media screen and (min-width: 1100px) and (max-width: 1499px){

    .competences{
      min-width: 1000px;
      column-gap: 30px;
      row-gap: 30px;
    }
    .comp-title{
    padding-bottom: 5%;
      font-size: 60px;
    }


  }

  @media screen and (min-width: 1500px){

    .competences{
      min-width: 1400px;
      column-gap: 40px;
      row-gap: 30px;
    }
    .comp-title{
    padding-bottom: 5%;
      font-size: 60px;
    }
  }