
      .project-container{
        height: 100vh;
        width: 80vw;
        margin: auto;
        /* padding-top: 8%; */
        text-align: center;
      }

      .slider-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
      }

      .swiper {
        width: 500px;
        height: 500px;
    
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        background-color: #1a2f42;
        color: #fff;
        text-align: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }

      .swiper-pagination-bullet{
        background-color: #fff !important;
          
      }
      .swiper-pagination-bullet-active {
        background-color: orange !important;
   }


   .title-project{
    text-align: center;
    justify-content: center;
    color: #333;
    font-size: 40px;
    padding-bottom: 3%;
    padding-top: 10%;
    /* margin-top: 50px; */
  }

  .sub-title-project{
    font-size: 30px;
    color: #333;
    padding: 2%;
  }
  
  .title-project span{
    color: orange;
  }
      .card-header{
          font-size: 20px;
          margin: 0;
          padding-top: 5%;
  }
    .card-text{
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
  }
    .button-project {
      text-decoration: none;
      background-color: orange;
      color: #fff;
      font-weight: bold;
      border: solid 2px orange;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
  }



    .swiper-button-prev{
        margin: -150px;
        color: orange !important;
    }

    .swiper-button-next{
      margin: -150px;
      color: orange !important;
  }

  .sub-title-project{
    display: none;
  }
  

      @media screen and (min-width: 600px) and (max-width:1150px){

        .swiper {
          width: 400px;
          height: 400px;
      
        }

         .title-project{
          text-align: center;
          justify-content: center;
          grid-column-start: 2;
          grid-row-start: 1;
          color: #333;
          font-size: 30px;
          padding-bottom: 5%;
        }
      
        .sub-title-project{
          font-size: 20px;
          color: #333;
          padding: 2%;
        }

        .project-container{
          padding-top: 9%;
        }

        .swiper-button-prev{
          margin: -100px;
          color: orange !important;
      }
  
      .swiper-button-next{
        margin: -100px;
        color: orange !important;
    }
      }

      @media screen and (max-width: 400px){
        .project-container{
          width: 100vw;
        }

        .slider-container{
          width: 100%;
        }
        .swiper {
          /* margin-top: 6%; */
          width: 180px;
          height: 180px;
        
        }
        .icon-rotate{
          font-size: 14px;
          margin-top: 8%;
          padding: 0;
         }

         .title-project{
           padding-top: 35%;
          font-size: 18px;
          padding-bottom: 15%;
        }

        .card-header{
          font-size: 10px;
          padding-top: 1%;

      }
      .card-text{
        font-size: 8px;
        font-weight: bold;
        margin: 0;
        padding-top: 1%;
        padding-bottom: 0%;
      }
      .button-project {
          
          font-size: 8px;
          padding: 3px;
          border: solid 1px orange;
      }

      .swiper-pagination-bullet{
        width: 4px !important;
        height: 4px !important;
          
      }

      .swiper-button-prev{
        transform: scale(0.7);
        margin: -65px;
        color: orange !important;
    }

    .swiper-button-next{
      transform: scale(0.7);
      margin: -65px;
      color: orange !important;
  }
     
    }

    @media screen and (min-width: 401px) and (max-width:599px){
      .project-container{
        width: 100vw;
      }

      .slider-container{
        width: 100%;
      }
      .swiper {
        /* margin-top: 6%; */
        width: 270px;
        height: 270px;
      
      }
      .icon-rotate{
        font-size: 14px;
        margin-top: 8%;
        padding: 0;
       }

       .title-project{
         padding-top: 20%;
        font-size: 18px;
        padding-bottom: 8%;
      }

      .card-header{
        font-size: 10px;
        padding-top: 1%;

    }
    .card-text{
      font-size: 8px;
      font-weight: bold;
      margin: 0;
      padding-top: 1%;
      padding-bottom: 0%;
    }
    .button-project {
        
        font-size: 8px;
        padding: 3px;
        border: solid 1px orange;
    }

    .swiper-pagination-bullet{
      width: 4px !important;
      height: 4px !important;
        
    }

    .swiper-button-prev{
      transform: scale(0.7);
      margin: -65px;
      color: orange !important;
  }

  .swiper-button-next{
    transform: scale(0.7);
    margin: -65px;
    color: orange !important;
}

    }
    @media screen and (max-width: 300px){

      .swiper-button-prev{
        transform: scale(0.7);
        margin: -40px;
        color: orange !important;
    }

    .swiper-button-next{
      transform: scale(0.7);
      margin: -40px;
      color: orange !important;
  }
    }





