html, body{
    position: relative;
    height: 100%;
    background-color: black;
}
.swiper-container{

    height: 100%;
    width: 100%;
    /* padding-top: 100px; */

}



.swiper-slide {
    width: auto;
    /* background-size: cover;
    box-sizing: border-box; */
    padding: 8em 3em;
    color: #fff;
}