
/* @media screen and (max-width: 1450px){

    .fa-arrow-right,
    .fa-arrow-left{
      font-size: 22px;
    }
    .next-page{
      top: 90%;
      left: 85%;
    }
    .previous-page{
        top: 90%;
        right: 85%;
    }
  } */

  /* -----------------------------------------PROJETS----------------------------------------  */

.project-wrapper{
    display: grid;
    height: 100vh;
    /* min-height: 100vh; */
    /* height: auto; */
    gap: 20px;
    grid-template-rows: 4% 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5%;
    padding: 5%  5% 10% 5%;
    /* margin-bottom: 70px; */
  }
  #card1{
    grid-column-start: 1;
    grid-row-start: 2;
    padding-bottom: 4%;
  
  }
  #card2{
    grid-column-start: 2;
    grid-row-start: 2;
    padding-bottom: 4%;
  }
  #card3{
    grid-column-start: 3;
    grid-row-start: 2;
  
    padding-bottom: 4%;
  
  
  }
  .project-card{
    display: grid;
    height: auto;
    gap: 30px;
    text-align: center;
    align-self: center;
    width: 100%;
    grid-template-rows: 60% 20% 10% 10%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #1a2f42;
    cursor: pointer;
  }
  
  .project-card:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: 0.4s;
  }
  .card-text{
   height: auto;
   padding: 0 3% 0 3%;
   color: #fff;
    
  }
  
  .card-img{
      height: auto;
      width: 100%;
  }
  .card-header{
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
  }
  .title-project{
    text-align: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    color: #333;
    font-size: 60px;
    margin-top: 50px;
  }
  
  .title-project span{
    color: orange;
  }
  
  .button-project{
    background-color: orange;
    text-decoration: none; 
    color: #fff;
    border: solid 2px #ffb142;
    width: 120px;
    text-align: center;
    margin: auto;
    padding: 1%;
    border-radius: 10px;
  }
  
  .button-project:hover{
    /* background-color: #cc8e35;
    border: solid 2px #cc8e35; */
  
    /* color: #fff; */
    transform: scale(1.05);
    font-weight: bold;
  }
  
  @media screen and (max-width: 500px){
  
    .project-wrapper{
      height: auto;
      grid-template-columns: 1fr ;
      grid-template-rows: 2% 1fr 1fr 1fr;
    }
  
    .project-card{
      width: 70%;
      height: 100%;
      grid-template-rows: 40% 10% 10% 10%;
      font-weight: bold;
      justify-self: center;
    }
  
    .card-img{
      height: 100%;
      width: 100%;
  }
  
    .card-text{
      display: none;
    }
  
    .card-header{
      font-size: 20px;
  
  }
  
    #card1{
      grid-row-start: 2;
      grid-column-start: 1;
    }
  
    #card2{
      grid-row-start: 3;
      grid-column-start: 1;
    }
    #card3{
      grid-row-start: 4;
      grid-column-start: 1;
    }
    .title-project{
      text-align: center;
      justify-content: center;
      grid-column-start: 1;
      grid-row-start: 1;
      margin-top: 60px;
      font-size: 22px;
    }
    .previous-page,
    .next-page{
        display: none;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width:850px){
  
    .project-wrapper{
      height: 100%;
      grid-template-columns: 1fr ;
      grid-template-rows: 2% 1fr 1fr 1fr;
      justify-items: center;
      gap: 50px;
      padding: 10%;
      }
    
    .project-card{
      width: 80%;
      height: auto;
      justify-self: center;
    
    }
    .card-text{
      height: auto;
      font-size: 20px;
         
    }
    .card-header{
      font-size: 35px;
    }
    .title-project{
      text-align: center;
      justify-content: center;
      grid-column: 1;
      grid-row-start: 1;
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
    }
    
    #card1{
      grid-row-start: 2;
      grid-column-start: 1;
        
    }
    #card2{
      grid-row-start: 3;
      grid-column-start: 1;
    }
    #card3{  
      grid-row-start: 4;
      grid-column-start: 1;
    }
  }
  
  @media screen and (min-width: 851px) and (max-width:1200px){
  
    .project-wrapper{
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-rows: 5% 1fr;
      gap: 4%;
      padding: 2%;
      }
    
    .project-card{
      width: 80%;
      height: auto;
      align-self: start;
      }
  
      .project-card:hover{
        transform: scale(1.02);
      }
  
    .card-text{
        height: auto;
        font-size: 20px;
       }
  
    .card-header{
         font-size: 35px;
    }
  
    .title-project{
      text-align: center;
      justify-content: center;
      grid-column: 2 / span 2;
      grid-row-start: 1;
      text-align: center;
      font-size: 30px;
      margin-top: 70px;
    }
    
    #card1{
        grid-column: 1 / span 2;
        grid-row-start: 2;
        place-self: center;
        
    }
    #card2{
        grid-row-start: 2;
        grid-column: 3 / span 2;
        place-self: center;
  
    
    }
    #card3{  
      grid-row-start: 3;
      grid-column: 1 / span 4;
      place-self: center;
  
    
    }
  }
  